body {
  color: #000;
  background-color: #fafafa;
}

footer {
  text-align: center;
}

ul {
  list-style: none;
}

.top-wrapper {
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/background.jpeg");
}
.top-wrapper .login {
  margin: 20px;
}

.top-message {
  margin-top: 100px;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}
.headline .caption .image img {
  width: 100%;
}
.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}
.headline .caption .body {
  font-size: 0.8em;
}

.user-image {
  display: flex;
}
.user-image img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
}

.profile-box .profile-image {
  margin-bottom: 20px;
}
.profile-box .profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.heart .like-btn {
  color: #8899a6;
}
.heart .unlike-btn {
  color: #ff2581;
}

.posts {
  padding: 30px;
  background-color: #FFFFFF;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
}
.posts .date {
  font-size: 0.6em;
  color: #999999;
}
.posts .title {
  font-size: 1.2em;
  font-weight: bold;
}
.posts .body {
  font-size: 1em;
}
.posts .image img {
  margin-top: 10px;
  width: 100%;
}